{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, illum. Porro necessitatibus quas voluptatum pariatur facilis! Quia iure maiores eveniet mollitia minus ut non optio blanditiis perferendis laboriosam tempore aliquam quo, quaerat aliquid id nam placeat, animi voluptas atque velit tenetur esse vel. Laboriosam voluptates debitis obcaecati, nesciunt dolore adipisci, deleniti rem iure error omnis modi! Hic adipisci eaque excepturi ipsam molestias sed cumque, doloribus voluptatem ducimus labore repellat aliquam quidem placeat, eos eius inventore impedit debitis asperiores voluptate voluptates error autem nostrum iusto rerum? Obcaecati amet quibusdam, quidem aperiam dolor ducimus vero atque accusantium, recusandae illum illo provident doloremque!</p>
{% endblock %}
